.main {
  height: 100vh;
  background-image: url("../../../public/logo512.png");
  background-position: center;
  background-repeat: no-repeat;
}

.box1 {
  background-color: aliceblue;
  border-radius: 8px;
}

.box1 h1 {
  text-align: center;
}
